<div style="position: absolute; top: 0mm; left: 0mm; width: 210mm; height: 297mm; background-color: #013577">

    <div style="margin-top: 60mm; text-align: center; color: #444444">
        <!-- 
        <img src="{{ assetPath }}/images/ICHK-Logo-Lg.png" style="height: 25mm;">
        <br/> -->

        <img src="{{ assetPath }}/images/FlexibleLearning.png" style="height: 75mm;">

        <h1 style="font-size: 42pt; font-family: caveat; font-weight: 300; color: #3fa4ef;">{{ bookletName }}</h1>

        <img src="{{ assetPath }}/images/ICHK-Logo-W.png" style="height: 20mm; margin-top: 60mm;">
    </div>

</div>
<div></div>
