<div style="border-bottom: 2px solid #0473b9;margin-bottom: 4mm;">
<table class="w-full" style="text-align: left; font-size: 8pt;" cellspacing="0" cellpadding="0">
    
    <tr>
        <td style="padding: 2mm 0mm;">
            <div style="font-size: 14pt; font-family: caveat; font-weight: 300; color: #9ca3af;">
                {{ bookletName }}
            </div>
        </td>
        <td style="text-align: right">
            <img src="{{ assetPath }}/images/ICHK-Logo.png" style="height: 8mm; float: right;">
        </td>
    </tr>
    
</table>
</div>
