
table {
    border-collapse: collapse;
    border-spacing: 0;
    page-break-inside: avoid;
    padding: 0;
}

td {
    padding-bottom: 3mm;
    padding-right: 2mm;
}

.w-full {
    width: 100%;
}

h1 {
    color: #444444;
    font-size: 16pt;
}

h2 {
    color: #444444;
    font-size: 14pt;
}

h3 {
    color: #444444;
    font-size: 12pt;
}

h4 {
    color: #444444;
    font-size: 10pt;
}

h5 {
    color: #444444;
    font-size: 8pt;
}

.video-link {
    page-break-inside: avoid;
    break-inside: avoid;
    border: 1px solid #dfdfdf;
    background-color: #fafafa;
    padding: 3mm 2mm;
    color: #444444;
    text-align: center;
}


.mpdf_toc_level_0 {
    margin-left: 0mm;
    padding: 0.9mm 0mm;
}

.mpdf_toc_level_1 {
    margin-left: 6mm;
    padding: 0.9mm 0mm;
}

.mpdf_toc_level_2 {
    margin-left: 12mm;
    padding: 0.9mm 0mm;
}
